<include href="views/includes/slider.htm" />
<section class="bg-primary p-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class=" text-white  mx-2">
                    <h1 class="h3 text-center">Beneficios del tratamiento psicológico</h1>
                    <p>Quienes llegan a nosotros en busca de terapia suelen ser personas enfrentan una serie de dificultades que no pudieron enfrentar por sí mismos, lo intentaron ellos mismos pero no lo lograron. Esta dificultad puede deberse a la necesidad de la ayuda de expertos, quienes confían en sus propias herramientas y experiencia profesional para brindar orientación para una buena intervención. Con cada tratamiento, el terapeuta y la persona que busca ayuda descubrirán si la intervención requiere psicoterapia o simplemente acompañamiento durante este periodo difícil.
                        El centro psicológico “Contigo Voy” ofrece terapia a estas personas que pueden tener problemas de ansiedad, depresión, fobias, miedos, inseguridad, entre otros. En nuestro Centro de Psicología recibirás atención personalizada y tratamientos a tu medida.
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-secondary mt-2">
            <div class="col-md-4">
                <div class="card  shadow my-2">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">Examen</h2>
                        <p class="card-text text-justify">Es una herramienta experimental diseñada para medir o evaluar características psicológicas específicas o características generales de personalidad de un individuo.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card  shadow my-2">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">Aprendizaje</h2>
                        <p class=" text-justify">Enseña a las personas, con algún tipo de problema psicológico, habilidades y estrategias, que son ideales para hacer frente a los diversos problemas de la cotidianidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  shadow my-2">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">Compromiso</h2>
                        <p class=" text-justify">El compromiso es fundamental para la recuperación, así que el paciente debe comprometerse con el tratamiento para generar así cambios en su vida.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
