<div class="container-fluid">
    <h3>Mis citas</h3>

    <hr>
    <div class="table-responsive">
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Doctor</th>
                    <th>Paciente</th>
                    <th>Dia.</th>
                    <th>Hora</th>
                    <th>estado</th>
                    <f3:check if="{{ @SESSION.user.role  != 'paciente' }}">
                        <th>Actions</th>
                    </f3:check>

                </tr>
            </thead>
        </table>
    </div>

</div>