{* Page Content *}
<main class="container-fluid" id="servicios">
    <h1 class="page-header text-center text-primary font-weight-bold">SERVICIOS</h1>
    <hr>
    <div class="row contenido-servicios">
        <div class="col-12 campo">
            <section class="m-3">
                <a href="{{ @menu['Reserva tu Cita'] }}">
                    <img alt="lenguaje" src="public/img/lenguaje.png" class="w-100">
                </a>
            </section>
            <section class="m-3">
                <a href="{{ @menu['Reserva tu Cita'] }}">
                    <img alt="emocional" src="public/img/emocional.png" class="w-100" loading="lazy">
                </a>
            </section>
            <section class="m-3">
                <a href="{{ @menu['Reserva tu Cita'] }}">
                    <img alt="aprendizaje" src="public/img/aprendizaje.png" class="w-100" loading="lazy">
                </a>
            </section>
            <section class="m-3">
                <a href="{{ @menu['Reserva tu Cita'] }}">
                    <img alt="test" src="public/img/test.png" class="w-100" loading="lazy">
                </a>
            </section>
            <section class="m-3">
                <a href="{{ @menu['Reserva tu Cita'] }}">
                    <img alt="psicoterapia" src="public/img/psicoterapia.png" class="w-100" loading="lazy">
                </a>
            </section>

            {* Por si alguna vez desean utilizar este tipo de section *}
            <script type="text/x-template" id="services-item">
                <section class="container-fluid my-3" id="services-item">
                <div class="d-flex p-5 justify-content-around align-items-center row">
                <div class="col-md-6 col-sm-12 px-3">
                        <h2 class="text-white bg-secondary">Psicoterapia</h2>
                        <p class="text-white">¿Te cuesta manejar tus emociones, no puedes dormir en las noches, te sientes desmotivado, no te sientes listo o tienes miedo de enfrentar cambios en tu vida?</p>
                    </div>
                    <div class="col-md-6 col-sm-12 px-3">
                        <img  alt="random image" class="d-inline w-100 rounded-circle" src="https://picsum.photos/500/500">
                    </div>
                </div>
            </section>
            </script>
            {* fin componente *}

        </div>
    </div>
</main>