.slide {
    height: auto;
}
.carousel-control-next-icon {
    border-left: 1.3rem solid #15ff0997;
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
   
}
.carousel-control-prev-icon {
    border-right: 1.3rem solid #15ff0997;
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
}
.cont{
    margin-top: 40px;
}
.f img{
    width: 100%;
}
.carousel-item .islider{
    height: auto;

}
